@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

@import "tailwindcss";

:root {
  --background: #17181E;
  --foreground: #dadada;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #17181E;
    --foreground: #dadada;
  }
}

body {
  font-family: 'Source Sans Pro';
}

* {
  font-family: 'Source Sans Pro';
}
